
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --background-color: #ececec;
    --base-color: #FFF;
    --text-color: #000;
    --font: "Nunito Sans", sans-serif;
}

.page-container {
    background-color: var(--background-color);
    color: var(--text-color);
}

.page-container.dark-mode {
    --background-color: #202C36;
    --text-color: #fff;
    --base-color: #2B3844;
}